<style>
  @font-face {
    font-family: "Mea Culpa Local";
    src: url("{{ '/Mea_Culpa/MeaCulpa-Regular.ttf' | relative_url }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Imperial Script Local";
    src: url("{{ '/Imperial_Script/ImperialScript-Regular.ttf' | relative_url }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Ballet Local";
    src: url("{{ '/Ballet/Ballet-Regular-VariableFont_opsz.ttf' | relative_url }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Parisienne Local";
    src: url("{{ '/Parisienne-Regular.ttf' | relative_url }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
</style>
<link rel="stylesheet" href="{{ '/assets/css/blog-stats.css' | relative_url }}">
